# Ignore all CSV files in the data folder
data/*.csv

# Keep other files (like database files or config files)
database/*.db
__pycache__/
config.py

#Ignore Jupyter Notebook files in notebooks folder as well as checkpoint files
notebooks/*.ipynb

